/* #top-div, #bottom-div {
  display: block;
}

#about, #photos {
  display: inline-block;
  float:left;
}

#reviews, #nearby {
  display: inline-block;
  float: left;
} */

#top-div {
  display: flex;
  flex-direction: row;
}

#bottom-div {
  display: flex;
  flex-direction: row-reverse;
}

#reviews {
  max-width: 80%;
}

#nearby {
  padding-right: 3em;
}
